* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Optional: Prevents scrolling */
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: rgba(197, 235, 197, 0.8); 
}

.sidebar {
    width: 250px;
    height: 95vh;
    background: #6f9d69;
    color: white;
    padding: 20px;
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
.sidebar a{
    color: white;
    text-decoration: none;
    text-align: center;

}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
}

.menu li:hover {
    background: #446740;
    border-radius: 25px;
}

.logout {
    color: white;
    margin-top: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    text-align: center;
    text-decoration: none;

}


.logout:hover {
    background: #446740;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 30px;
    margin: 20px 5px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80vw;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 400px;
    
}

.search-box input {
    flex: 1; 
    border: none;
    outline: none;
    padding: 10px 5px;
    font-size: 15px;
    width: 100%;
    background-color: rgba(197, 235, 197, 0.8); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;



}
.search-box input::placeholder{
    color:  #689262;
    font-weight: bold;
}

.search-box i {
    color: gray;
    margin-left: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile span {
    font-weight: bold;
}